@import './../../assets/colors.sass'

lpc-side-bar
  display: flex
  flex-direction: row
  justify-content: space-between
  padding: 10px 0
  width: 100%
  .core-tech
    width: 45%
  .profile
    width: 45%
    margin-right: 5%
  h1
    font-weight: bolder
    font-size: 1.5em
    margin: 0
    text-transform: uppercase
    color: $primary
  p
    color: $secondary