<div class="profile">

    <h1>Profile</h1>
    <p>Agile tech leader and UI software builder with a unique 360 degree vision of the software lifecycle from ideation to continuous integration. </p>
    <p>Passionate about cutting edge scalable web applications.</p>
    <p>Avid follower of the latest UI trends and usability.</p>
    <p>Focused on helping teams deliver unique user experiences and reducing time to market by leveraging scalable applications through tdd and best coding practises.</p>
</div>

<div class="core-tech">

    <h1>Core Technical Skills</h1>
    <p>Expert javascript including ES6, typescript, angular, angularjs, react, webpack and other tools.</p>
    <p>Technical architecture and systems architecture for web-based platforms.</p>
    <p>Define and implement UI components, information architecture, interaction models and style guide.</p>
    <p>Containerize UI and node applications.</p>
</div>

<!-- <h1>Objectives</h1>
<p>Obtaining a position enabling professional growth that leverages key skills of leading teams while working with cloud based technologies.</p>
<p>Continue to design, orchestrate and build distributed scalable web application while learning new technologies.</p>
<p>Learn the latest technologies and machine learning.</p> -->
