<lpc-header></lpc-header>
<lpc-main-layout>
  <lpc-side-bar></lpc-side-bar>
  <div class="">
    <lpc-section title="Profesional Experience">
      <lpc-experience title="Senior UI Developer & Solutions Architect" timeFrame="May 2015 - Present" company="Acquisio inc.">
        <p class="company-description">
          Ad tech SASS platform targeted at resellers and agencies that facilitates the management and organization of online advertising
          initiatives.
        </p>
        <p class="job-description">
          As the lead ui developer my time is spent 80% in code and 20% on code reviews and design.
        </p>
        <ul class="job-description">
          <li>Lead, Participate and oversee the technical aspect of UI development of a SASS platform.</li>
          <li>Define the software architecture, implementation, tools and quality assurance strategy in collaboration with multiple
            cross functional develop teams.</li>
          <li>Prototype and conceptualize improvements on a SASS platform. </li>
          <li>Collaborate with product owners and stakeholder to align the product roadmap with tech debt reduction and technological
            improvements.
          </li>
          <li>Mentor and guide UI engineering teams with a hands on approach.</li>
          <li>Ensure best practices are adhered to within teams to ensure continuous improvements and long term maintainability
            of the products.</li>
          <li>Strategically plan and maintain the technical improvements road map to improve on the code base.</li>
          <li>Evangelize TDD</li>
        </ul>
        <ul class="accomplishments">
          <li>Successfully provided a fully translated app for the Japanese market and implemented and ongoing localization workflow
            for the platform under allocated development time.</li>
          <li>Modernized the build system to provide a CI pipeline to deploy into development environments for UI codebases while
            identifying and removing dead code.</li>
          <li>Migrated UI code bases to a new source control system. </li>
          <li>Improved team knowledge through peer programming and several lunch and learn sessions to expose team members to
            new technologies and frameworks.</li>
          <li>Designed self-serve application separate and decoupled from the main product to manage incoming potential clients
            leveraging message bus and queue based system.</li>
          <li>Implemented a strategy to be angular compatible on the current codebase enabling typescript and training the development
            team on web components based architecture.</li>
        </ul>
        <p class="technologies-used">
          JavaScript, RabbitMq, Java, Webpack, Git, Bamboo, Postgres, Spring, Spring Cloud, Typescript, Web components, Elastic Search,
          Angular, Angularjs
        </p>
      </lpc-experience>

      <lpc-experience title="Developer & QA Manager" timeFrame="Apr 2013 - Apr 2015" company="Whatsnexx Marketing Automation">
        <p class="company-description">
          Whatsnexx Marketing Automation offers a cross-channel suite for digital marketers. The core product leverages azure based
          big data to track consumer behavior across multiple marketing apps enabling real time interaction with these consumers. 
        </p>
        <p class="job-description">
          Given that Whatsnexx was a startup, I held multiple roles in a hands on capacity including 50% of my time developing the UI for client facing SPA applications, client integration libraries and automating UI tests.
        </p>
        <ul class="job-description">
          <li>Responsible for the scrum development process and QA management.</li>
          <li>Collaborate and ensure that releases for an azure based shared tenant system are completed. </li>
          <li>Design, implement and deploy testing and monitoring tools to support a cloud based SASS application.</li>
          <li>Coordinate user acceptance testing and ui test to ensure delivered features meet business requirements and functional
            specification. </li>
          <li>Manage the successful implementation and deployment of the Whatsnexx solution with external clients.</li>
        </ul>
        <ul class="accomplishments">
          <li>Established a formal sprint review process increasing team velocity and productivity in subsequent releases. </li>
          <li>Trained and coached a quality control analyst to asynchronously document acceptance criteria and test plans. Automated
            the testing process during releases.</li>
          <li>Managed and participated in the development of an admin platform to monitor mission critical systems covering:
            <ul>
              <li>Azure queues scaling and availability</li>
              <li>Quartz Job system using HD insight</li>
            </ul>
          </li>
          <li>Developed client api's to facilitate connecting to our platform.</li>

        </ul>
        <p class="technologies-used">
          Microsoft Azure, ASP.net MVC, JavaScript, C#, MSSQL, Azure storage, Azure Queues, TFS server
        </p>
      </lpc-experience>

      <lpc-experience title="Software Developer Consultant" timeFrame="2011 - 2013" company="Premier Tech Home & Garden">
        <p class="company-description">Leading manufacturer and marketer of consumer lawn and garden products.</p>
        <ul class="job-description">
          <li>Define project objectives and maintain a feature backlog using agile methodologies to respond to evolving end user
            needs.
          </li>
          <li>Work with key stakeholders to provide estimates and prioritize requirements. </li>
          <li>Implement and deploy web based application on private cloud.</li>
        </ul>
        <ul class="accomplishments">
          <li>Managed all phases of the software development lifecycle to implement custom integrated web applications:
            <ul>
              <li>Sales forecasting system </li>
              <li>ETL application</li>
              <li>Freight optimization system</li>
            </ul>
          </li>
        </ul>
        <p class="technologies-used">
          ASP.Net MVC, SSIS, MS build, Continuous Integration, JavaScript, Data Visualization, MSSQL
        </p>
      </lpc-experience>

      <lpc-experience title="Account manager and IT Project manager" timeFrame="2003 - 2011" company="Griffith Laboratories ltd.">
        <p class="company-description">
          Global manufacturer of customized food ingredients. Griffith Laboratories develops and manufactures food ingredient blends
          for large food processors and food service chains.
        </p>
        <ul class="job-description">
          <li>Business development in a project driven B2B environment managing a sales territory of $3 million.</li>
          <li>Responsible for initiatives contributing to internal I.T development aimed at improving sales and marketing systems.</li>
        </ul>
        <ul class="accomplishments">
          <li>Received special recognition award for delivering internal application to improve sales forecasting.</li>
          <li> Executed and coordinated the following applications:
            <ul>
              <li>Sales forecasting system contributing to improving supply chain management. </li>
              <li>Key performance indicator and reporting system</li>
              <li>Segmented customer and prospects database </li>
            </ul>
          </li>
        </ul>
        <p class="technologies-used">
          ASP.net MVC, SSIS, Data warehousing, C#, JavaScript, Analytical data processing, MSSQL
        </p>
      </lpc-experience>
    </lpc-section>
    <lpc-section title="Other Profesional Experience">
      <lpc-other-experience hasResponsabilities="false" title="Account manager and IT Project manager" timeFrame="2003 - 2013" company="Consulting">
        <p class="company-description">
          As a consultant and for my own projects developed various websites and applications.
        </p>
        <ul class="accomplishments">
          <li>Developed and managed a B2C transactional website that generated over 500K in revenue.</li>
          <li>Apply SEO and web marketing principals to generate traffic and sales. </li>
          <li>Automating processes and notifications.</li>
          <li>Consulted, advised and developed web apps on a part time basis.</li>
        </ul>
      </lpc-other-experience>
    </lpc-section>
    <lpc-section title="Education">
        <lpc-other-experience title="Marketing Management Cert." timeFrame="2002 - 2005" company="HEC Montreal">
          <ul class="accomplishments">              
            <li>De facto leadership role in team projects.</li>
            <li>Led team to first position in marketing synthesis course. </li>
            <li>Completed while working full time.</li>
          </ul>
        </lpc-other-experience>
      </lpc-section>
  </div>
</lpc-main-layout>